{% extends 'head.html' %}
{% load static %}
{%block class%}class="sub_page"{% endblock %} 
{% block profile %}

<main id="entre_account">
    <div class="login">
        <img src="{% static 'images/f4.png'%}">
</div>

        <form class="form" action="" method="POST">{% csrf_token %}
            <div>
                <label for="Uname">User Name</label>
                <input type="text" name="Uname" placeholder="Enter Your Full Name" required>
            </div>
            <div>
                <label for="Pass">Password</label>
                <input type="password" name="Pass" placeholder="Enter Your Password" required>
            </div>
            <button type="submit">Login</button>
            <a href="{% url 'Profile' %}">Register</a>
        </form>

        
    
</main>
{% endblock profile %}